* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    박스모델 지정 : border
    content 실제 html태그 내 컨텐츠로써 내용이 차지하는 영역
    padding border와 콘텐츠 사이의 여백
    border  박스 테두리
    margin  border 바깥의 여백
*/
div {
    border: 1px solid balck;    /* 테두리의 두께, 스타일, 색상 지정 속성 */
    padding : 10px;     /* 안쪽 여백 크기 속성 */
    margin : 10px;      /* 외부 여백 크기 속성 */
    width: 50%;
    max-width: 300px;   /* 최대 넓이 */
    min-width: 50px;    /* 최소 넓이 */  
    height: 100px;
}