/*
    레이아웃 : 화면 구성(배치)
*/
div {
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 1px solid black;
}

/* 
    *position : 레이아웃 설정에 사용되는 속성
    - static      기본 위치
    - relative    static에서 상대적인 위치로 이동
    - absolute    relative속성을 가진 가장 가까운 부모 태그(or body) 기준 이동
    - fixed       화면(뷰포트) 자체를 기준으로 이동함
    - sticky      스크롤 시에도 static위치 고정 ex)교보문고 오른쪽 네비 바
*/

#target {
    background-color: yellow;
    /* position: static; 원래 기본 자리에 있어라 */
    /* position: relative; static에서 상대적인 위치로 이동함
    left: 10px;
    top: 10px; */
    /* position: fixed;
    bottom: 0; fixed에 bottom을 0으로 설정하면 해당 영역이 항상 바닥에 고정되어 있음 */
    position: sticky;
    top: 20px;
}

.container {
    width: 400px;
    height: 400px;
    position: relative;
}

#target2 {
    background-color: red;
    position: absolute;
    left: 30px;
    top: 30px;
}